@model E_Commerce_Application.Models.Product

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userid = ViewBag.userid;
    var username = ViewBag.username;
    var count = ViewBag.count;
    int cartcount = 0;

}
<style>
    .row.display-flex {
        display: flex;
        flex-wrap: wrap;
    }

        .row.display-flex > [class*='col-'] {
            display: flex;
            flex-direction: column;
        }
</style>



   
<head>
    <link href="~/Content/lib/toastr/toastr.css" rel="stylesheet" />
</head>
<div style="z-index:100;width:100%;background-color:white;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12" style="text-align:right;">
                <i class="glyphicon glyphicon-user"></i> @ViewBag.username &nbsp;&nbsp;
                <i class="glyphicon glyphicon-log-out"></i> @Html.ActionLink("LogOut", "LogOut", "Login", null, null)

            </div>
        </div>
        <div class="row" style="padding:10px;">
            <div class="col-sm-3">
                <span style="font-family:Century Gothic;font-size:23px;">Digi Shoppy</span>
            </div>
            <form name="Form" method="post">
                <div class="col-sm-5" style="text-align:right;">
                    <div class="row display-flex">
                        <input type="text" class="form-control" id="search" name="search" placeholder="Search.." style="max-width:100%" onkeyup="GetProductList()" />
                    </div>

                </div>
               
            </form>
            <div class="col-sm-3" style="text-align:right;">

                <button style="border-color:transparent;border-radius:30px;padding-top:5px;" onclick="GotoCart()">
                    <span class="glyphicon glyphicon-shopping-cart">
                    </span>
                    <span class="items">
                        <p id="" value="" class="badge">
                            @count
                        </p>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="list-div">

</div>

<script src="~/Content/lib/jquery/jquery.min.js"></script>
<script src="~/Content/lib/validate/jquery.validate.min.js"></script>
<script src="~/Content/lib/toastr/toastr.js"></script>

<script type="text/javascript">
    
    window.onload = function () {
        GetProductList();
    }

    function GetProductList() {
       
        var SearchData = $("#search").val();
        $.ajax({
            type: "GET",
            cache: false,
            url: '/User/GetProductList',
            data: { searchdata: SearchData},
                datatype: "json",
                traditional: true,

            success: function (data) {
                debugger;
                    $("#list-div").html(data);
                   
                }

            });
    }

    var CartArray = new Array();
    
    function viewcart(productId) {
        $("#" + productId).hide();
        CartArray.push(productId);
        cartcount = CartArray.length;
        $("#count").empty().append(cartcount);

        var cartdata = productId;
        $.ajax({
            url: '/User/ViewCart',
            type: 'POST',
            // dataType: 'JSON',
            //contentType: 'application/json:charset=utf-8',
            data: { cartproduct: cartdata},

            success: function (data) {
                debugger;
                            window.location.href = '@Url.Action("Index", "User")';

                    }
                });
    }
     function GotoCart() {
             window.location.href = '@Url.Action("ViewCart", "User")';
        }
</script>
